<%= form_with(model: repeating_transfer, local: true) do |form| %>
  <% if repeating_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repeating_transfer.errors.count, "error") %> prohibited this repeating_transfer from being saved:</h2>

      <ul>
      <% repeating_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from_account, "From Account" %>
    <%= form.collection_select :from_account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= form.label :to_account, "To Account" %>
    <%= form.collection_select :to_account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :repeat_start_date %>
    <%= form.date_select :repeat_start_date, id: :repeating_transfer_repeat_start_date %>
  </div>

  <div class="field">
    <%= form.label :ends_after_num_occurrences %>
    <%= form.number_field :ends_after_num_occurrences, id: :repeating_transfer_ends_after_num_occurrences %>
  </div>

  <div class="field">
    <%= form.label :ends_after_date %>
    <%= form.date_select :ends_after_date, id: :repeating_transfer_ends_after_date %>
  </div>

  <div class="field">
    <%= form.label :repeat_period %>
    <%= form.text_field :repeat_period, id: :repeating_transfer_repeat_period %>
  </div>

  <div class="field">
    <%= form.label :repeat_every_x_periods %>
    <%= form.number_field :repeat_every_x_periods, id: :repeating_transfer_repeat_every_x_periods %>
  </div>

  <div class="field">
    <%= form.label :repeat_on_x_day_of_period %>
    <%= form.number_field :repeat_on_x_day_of_period, id: :repeating_transfer_repeat_on_x_day_of_period %>
  </div>

  <div class="field">
    <%= form.label :last_occurrence_added %>
    <%= form.date_select :last_occurrence_added, id: :repeating_transfer_last_occurrence_added %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
