<%= form_with(model: repeating_transfer, local: true) do |form| %>
  <% if repeating_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repeating_transfer.errors.count, "error") %> prohibited this repeating_transfer from being saved:</h2>

      <ul>
      <% repeating_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from_account, "From Account" %>
    <%= form.collection_select :from_account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= form.label :to_account, "To Account" %>
    <%= form.collection_select :to_account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="inline-field">
    <%= form.label :repeat_every %>
    <%= form.number_field :repeat_every_x_periods, id: :repeating_transfer_repeat_every_x_periods, class: "number-field-short" %>

    <%= form.select(:repeat_period, options_for_select([['day(s)','day'], ['week(s)','week'], ['month(s)','month']], @repeating_transfer.repeat_period), {}, id: 'repeat-period')%>
  </div>

  <div class="field">
    <%= form.label :starting_on %>
    <%= form.date_select :repeat_start_date, id: :repeating_transfer_repeat_start_date %>
  </div>

  <div class="inline-field">
    <%= form.label :end %>
    <%= form.select(:end_type, options_for_select([['Never','never'],['After # of occurrences','num-occurrences'],['After a date','end-date']], @repeating_transfer.end_type), {}, id: 'end-type')%>

    <div class="inline-field end-type-num-occurrences">
      <%= form.label :end_after_num_occurrences, 'After' %>
      <%= form.number_field :ends_after_num_occurrences, id: :repeating_transfer_ends_after_num_occurrences, class: "number-field-short" %>
      <%= form.label :end_after_num_occurrences, 'occurrences' %>
    </div>

    <div class="inline-field end-type-end-date">
      <%= form.label :end_after_end_date, 'After' %>
      <%= form.date_select :ends_after_date, id: :repeating_transfer_ends_after_date %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
