<h1>Repeating Transfers</h1>

<div class="link-block">
  <div class="link"><%= link_to 'New Repeating Transfer', new_repeating_transfer_path %></div>
</div>

<div class="filter-box">
  <button id="show_filter" class="filter-button">Show/Hide Filter</button>
  <div class="filter <%="hidden" unless @filtered %>">
    <%= form_tag request.path, method: 'get' do %>
      <div class="field">
        <%= label_tag :from_account %>
        <%= select_tag :from_account_id, options_from_collection_for_select(@user_accounts,:id,:account_name,params[:from_account_id]), { :include_blank => true } %>
      </div>
      <div class="field">
        <%= label_tag :to_account %>
        <%= select_tag :to_account_id, options_from_collection_for_select(@user_accounts,:id,:account_name,params[:to_account_id]), { :include_blank => true } %>
      </div>
      <div class="field number">
        <%= label_tag :amount %>
        <%= number_field_tag :amount, params[:amount], step: 0.01, min:0.01 %>
      </div>
      <div class="field">
        <%= label_tag :description %>
        <%= text_field_tag :description, params[:description] %>
      </div>
      <div class="actions">
        <%= submit_tag "Search" %>
        <%= button_tag 'Clear Form', {:type => 'reset', id: "clear_filter"} %>
      </div>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>From account</th>
      <th>To account</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Repeat start date</th>
      <th>Repeat description</th>
      <th>Ends</th>
      <th>Last occurrence added</th>
      <th>Next occurrence</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repeating_transfers.each do |repeating_transfer| %>
      <tr>
        <td><%= repeating_transfer.from_account.account_name %></td>
        <td><%= repeating_transfer.to_account.account_name %></td>
        <td><%= set_currency_styling(repeating_transfer.amount) %></td>
        <td><%= repeating_transfer.description %></td>
        <td><%= display_date(repeating_transfer.repeat_start_date) %></td>
        <td><%= repeat_description(repeating_transfer) %></td>
        <td><%= end_description(repeating_transfer) %></td>
        <td><%= display_date(repeating_transfer.last_occurrence_added) %></td>
        <td><%= display_date(repeating_transfer.next_occurrence) %></td>
        <td><%= link_to 'Edit', edit_repeating_transfer_path(repeating_transfer) %></td>
        <td><%= link_to 'Delete', repeating_transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @repeating_transfers %>
