<h1>Repeating Transfers</h1>

<div class="link-block">
  <div class="link"><%= link_to 'New Repeating Transfer', new_repeating_transfer_path %></div>
</div>

<table>
  <thead>
    <tr>
      <th>From account</th>
      <th>To account</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Repeat start date</th>
      <th>Repeat description</th>
      <th>Ends</th>
      <th>Last occurrence added</th>
      <th>Next occurrence</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repeating_transfers.each do |repeating_transfer| %>
      <tr>
        <td><%= repeating_transfer.from_account.account_name %></td>
        <td><%= repeating_transfer.to_account.account_name %></td>
        <td><%= repeating_transfer.amount %></td>
        <td><%= repeating_transfer.description %></td>
        <td><%= display_date(repeating_transfer.repeat_start_date) %></td>
        <td><%= repeat_description(repeating_transfer) %></td>
        <td><%= end_description(repeating_transfer) %></td>
        <td><%= display_date(repeating_transfer.last_occurrence_added) %></td>
        <td><%= display_date(repeating_transfer.next_occurrence) %></td>
        <td><%= link_to 'Edit', edit_repeating_transfer_path(repeating_transfer) %></td>
        <td><%= link_to 'Delete', repeating_transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
