<h1>Transaction Summary by Account</h1>

<div class="summary_type_navbar">
  <%= link_to "By Day", summaries_by_account_path + "?averaging_time=day", {class: mark_current_tab(@averaging_time,"day")} %>
  <%= link_to "By Month", summaries_by_account_path + "?averaging_time=month", {class: mark_current_tab(@averaging_time,"month")} %>
  <%= link_to "By Year", summaries_by_account_path + "?averaging_time=year", {class: mark_current_tab(@averaging_time,"year")} %>
  <%= link_to "By Category", summaries_by_category_path %>
</div>

<%= render 'table' %>


