<h1>Balance Check</h1>

<div class="inline">
  <h4>Account:</h4>
  <%= form_tag request.path, method: 'get' do %>
    <%= select_tag :account_id, options_from_collection_for_select(@user_accounts,:id,:account_name,@account.id) %>
    <%= submit_tag "Switch Account"%>
  <% end %>
</div>
<% if @start_balance.nil? or @end_balance.nil? %>
  <div class="no_data">There is not enough data for this account. There must be at least 2 account balance data points in order to display this view.</div>
<% else %>
  <% start_date = @start_balance.balance_date.strftime('%m/%e/%Y')
     end_date =  @end_balance.balance_date.strftime('%m/%e/%Y') %>
  <div class="inline">
    <h4>Transactions between <%= "#{start_date} and #{end_date}" %></h4>
    <%= link_to "earlier", request.path + "?account_id=#{@account.id}&prev_balance=#{@account_balance_num + 1}" if @show_earlier_link%>
    <%= link_to "later", request.path + "?account_id=#{@account.id}&prev_balance=#{@account_balance_num - 1}" if @show_later_link %>
  </div>
  <% if @transactions.count == 0 %>
    <div class="no_data">No transactions were found</div>
  <% else %>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Vendor Name</th>
        <th>Account</th>
        <th>Transaction Category</th>
        <th>Amount</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.transaction_date.strftime('%m/%e/%Y') %></td>
          <td><%= transaction.vendor_name %></td>
          <td><%= transaction.account.account_name if transaction.account.present? %></td>
          <td><%= transaction.transaction_category.name if transaction.transaction_category.present? %></td>
          <td><%= number_to_currency(transaction.amount) %></td>
          <td><%= transaction.description %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure you want to delete this transaction?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @transactions %>
  <% end %>

  <h4>Balance Summary</h4>
  <table>
    <tr>
      <td>Start balance <%= start_date %></td>
      <td><%= number_to_currency(@start_balance.balance) %></td>
    </tr>
    <tr>
      <td>End balance <%= end_date %></td>
      <td><%= number_to_currency(@end_balance.balance) %></td>
    </tr>
    <% balance_change = @end_balance.balance - @start_balance.balance %>
    <tr>
      <td>Balance change:</td>
      <td><%= number_to_currency(balance_change) %></td>
    </tr>
    <tr>
      <td>Transactions total:</td>
      <td><%= number_to_currency(@total_spending) %></td>
    </tr>
    <tr>
      <td>Spending (earnings) not accounted for:</td>
      <td><%= number_to_currency(@total_spending - balance_change)%></td>
    </tr>
  </table>
<% end %>

<br>

<%= link_to 'New Account Balance', new_account_balance_path %>