<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <strong>Email:</strong>
  <%= @user.email %>
  <strong>Time Zone:</strong>
  <%= @user.time_zone %>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', root_path %>
