<%= form_with(model: repeating_transaction, local: true) do |form| %>
  <% if repeating_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repeating_transaction.errors.count, "error") %> prohibited this repeating_transaction from being saved:</h2>

      <ul>
      <% repeating_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vendor_name %>
    <%= form.text_field :vendor_name, id: :repeating_transaction_vendor_name %>
  </div>
  <div class="field">
    <%= form.label :account %>
    <%= form.collection_select :account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= form.label :transaction_category, "Spending Category" %>
    <%= form.collection_select :transaction_category_id, @user_transaction_categories, :id, :name %>
    <%= link_to "Add / Edit", new_transaction_category_path %>
  </div>
  <div class="field">
    <%= form.label :amount, "Amount Spent" %>
    <%= form.number_field :amount, step: 0.01%>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :repeat_start_date %>
    <%= form.date_select :repeat_start_date, id: :repeating_transaction_repeat_start_date %>
  </div>

  <div class="inline-field">
    <%= form.label :repeat_every %>
    <%= form.number_field :repeat_every_x_periods, id: :repeating_transaction_repeat_every_x_periods %>
    <%= form.text_field :repeat_period, id: :repeating_transaction_repeat_period %>
    <%= form.label "(s) on the" %>
    <%= form.number_field :repeat_on_x_day_of_period, id: :repeating_transaction_repeat_on_x_day_of_period %>
    <%= form.label :day_of_the_period %>
  </div>

  <div class="inline-field">
    <%= form.label :end %>
    <div class="inline-field">
      <%= form.radio_button :end_after, 'Never', :checked => true %>
      <%= form.label :end_after_never, 'Never', value: 'Never' %>
    </div>
    <div class="inline-field">
      <%= form.radio_button :end_after, 'after_num_occurrences' %>
      <%= form.label :end_after_after_num_occurrences, 'After number of occurrences', value: 'after_num_occurrences' %>
      <%= form.number_field :ends_after_num_occurrences, id: :repeating_transaction_ends_after_num_occurrences %>
    </div>
    <div class="inline-field">

      <%= form.radio_button :end_after, 'after_date' %>
      <%= form.label :end_after_after_date, 'After date', value: 'after_date' %>
      <%= form.date_select :ends_after_date, id: :repeating_transaction_ends_after_date %>
    </div>


    </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
