<%= form_with(model: repeating_transaction, local: true) do |form| %>
  <% if repeating_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repeating_transaction.errors.count, "error") %> prohibited this repeating_transaction from being saved:</h2>

      <ul>
      <% repeating_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vendor_name %>
    <%= form.text_field :vendor_name, id: :repeating_transaction_vendor_name %>
  </div>
  <div class="field">
    <%= form.label :account %>
    <%= form.collection_select :account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= form.label :transaction_category, "Spending Category" %>
    <%= form.collection_select :transaction_category_id, @user_transaction_categories, :id, :name %>
    <%= link_to "Add / Edit", new_transaction_category_path %>
  </div>
  <div class="field">
    <%= form.label :amount, "Amount Spent" %>
    <%= form.number_field :amount, step: 0.01%>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :repeat_start_date %>
    <%= form.date_select :repeat_start_date, id: :repeating_transaction_repeat_start_date %>
  </div>

  <div class="inline-field">
    <%= form.label :repeat_every %>
    <%= form.number_field :repeat_every_x_periods, id: :repeating_transaction_repeat_every_x_periods, class: "number-field-short" %>

    <%= form.select(:repeat_period, options_for_select([['day(s)','day'], ['week(s)','week'], ['month(s)','month']], @repeating_transaction.repeat_period), {}, id: 'repeat-period')%>

    <% if @repeating_transaction.repeat_period == 'week'
         week_repeat_day = @repeating_transaction.repeat_on_x_day_of_period
       elsif @repeating_transaction.repeat_period == 'month'
         month_repeat_day = @repeating_transaction.repeat_on_x_day_of_period
       end
    %>

    <div class="inline-field repeat-period-month">
      <%= form.label "on day " %>
      <%= form.number_field :repeat_on_x_day_of_period, {value: month_repeat_day, id: :repeating_transaction_repeat_on_x_day_of_period, class: "number-field-short"} %>
      <%= form.label "of the month" %>
    </div>

    <div class="inline-field repeat-period-week">
      <div class="inline-field">
        <%= form.label "on" %>
        <%= form.radio_button :on_weekday, 'sunday', checked: week_repeat_day == 1 %>
        <%= form.label :on_weekday_sunday, 'Sunday'%>
        <%= form.radio_button :on_weekday, 'monday', checked: week_repeat_day == 2 %>
        <%= form.label :on_weekday_monday, 'Monday' %>
        <%= form.radio_button :on_weekday, 'tuesday', checked: week_repeat_day == 3 %>
        <%= form.label :on_weekday_tuesday, 'Tuesday' %>
        <%= form.radio_button :on_weekday, 'wednesday', checked: week_repeat_day == 4 %>
        <%= form.label :on_weekday_wednesday, 'Wednesday' %>
        <%= form.radio_button :on_weekday, 'thursday', checked: week_repeat_day == 5 %>
        <%= form.label :on_weekday_thursday, 'Thursday' %>
        <%= form.radio_button :on_weekday, 'friday', checked: week_repeat_day == 6 %>
        <%= form.label :on_weekday_friday, 'Friday' %>
        <%= form.radio_button :on_weekday, 'saturday', checked: week_repeat_day == 7 %>
        <%= form.label :on_weekday_saturday, 'Saturday' %>
      </div>
    </div>

  </div>

  <div class="inline-field">
    <%= form.label :end %>
    <%= form.select(:end_type, options_for_select([['Never','never'],['After # of occurrences','num-occurrences'],['After a date','end-date']], @repeating_transaction.end_type), {}, id: 'end-type')%>

    <div class="inline-field end-type-num-occurrences">
      <%= form.label :end_after_num_occurrences, 'After' %>
      <%= form.number_field :ends_after_num_occurrences, id: :repeating_transaction_ends_after_num_occurrences, class: "number-field-short" %>
      <%= form.label :end_after_num_occurrences, 'occurrences' %>
    </div>

    <div class="inline-field end-type-end-date">
      <%= form.label :end_after_end_date, 'After' %>
      <%= form.date_select :ends_after_date, id: :repeating_transaction_ends_after_date %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
