<%= form_with(model: repeating_transaction, local: true) do |form| %>
  <% if repeating_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repeating_transaction.errors.count, "error") %> prohibited this repeating_transaction from being saved:</h2>

      <ul>
      <% repeating_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vendor_name %>
    <%= form.text_field :vendor_name, id: :repeating_transaction_vendor_name %>
  </div>
  <div class="field">
    <%= form.label :account %>
    <%= form.collection_select :account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= form.label :transaction_category, "Spending Category" %>
    <%= form.collection_select :transaction_category_id, @user_transaction_categories, :id, :name %>
    <%= link_to "Add / Edit", new_transaction_category_path %>
  </div>
  <div class="field">
    <%= form.label :amount, "Amount Spent" %>
    <%= form.number_field :amount, step: 0.01%>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :repeat_start_date %>
    <%= form.date_select :repeat_start_date, id: :repeating_transaction_repeat_start_date %>
  </div>

  <div class="inline-field">
    <%= form.label :repeat_every %>
    <%= form.number_field :repeat_every_x_periods, id: :repeating_transaction_repeat_every_x_periods %>
    <%= form.text_field :repeat_period, id: :repeating_transaction_repeat_period %>
    <%= form.label "(s) on the" %>
    <%= form.number_field :repeat_on_x_day_of_period, id: :repeating_transaction_repeat_on_x_day_of_period %>
    <%= form.label :day_of_the_period %>

    <div class="inline-field">
      <%= form.radio_button :on_weekday, 'sunday' %>
      <%= form.label :on_weekday_sunday, 'Sunday' %>
      <%= form.radio_button :on_weekday, 'monday' %>
      <%= form.label :on_weekday_monday, 'Monday' %>
      <%= form.radio_button :on_weekday, 'tuesday' %>
      <%= form.label :on_weekday_tuesday, 'Tuesday' %>
      <%= form.radio_button :on_weekday, 'wednesday' %>
      <%= form.label :on_weekday_wednesday, 'Wednesday' %>
      <%= form.radio_button :on_weekday, 'thursday' %>
      <%= form.label :on_weekday_thursday, 'Thursday' %>
      <%= form.radio_button :on_weekday, 'friday' %>
      <%= form.label :on_weekday_friday, 'Friday' %>
      <%= form.radio_button :on_weekday, 'saturday' %>
      <%= form.label :on_weekday_saturday, 'Saturday' %>
    </div>

  </div>

  <div class="inline-field">
    <%= form.label :end %>
  <div class="inline-field">
    <%= form.radio_button :end_after, 'never', :checked => true %>
    <%= form.label :end_after_never, 'Never' %>
  </div>
  <div class="inline-field">
    <%= form.radio_button :end_after, 'num_occurrences' %>
    <%= form.label :end_after_num_occurrences, 'After number of occurrences' %>
    <%= form.number_field :ends_after_num_occurrences, id: :repeating_transaction_ends_after_num_occurrences %>
  </div>

  <div class="inline-field">
    <%= form.radio_button :end_after, 'end_date' %>
    <%= form.label :end_after_end_date, 'After date' %>
    <%= form.date_select :ends_after_date, id: :repeating_transaction_ends_after_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
