<h1>Repeating Transactions</h1>

<div class="link-block">
  <div class="link"><%= link_to 'New Repeating Transaction', new_repeating_transaction_path %></div>
</div>

<div class="filter-box">
  <button id="show_filter" class="filter-button">Show/Hide Filter</button>
  <div class="filter <%="hidden" unless @filtered %>">
    <%= form_tag request.path, method: 'get' do %>
      <div class="field">
        <%= label_tag :vendor_name %>
        <%= text_field_tag :vendor_name, params[:vendor_name] %>
      </div>
      <div class="field">
        <%= label_tag :account %>
        <%= select_tag :account_id, options_from_collection_for_select(@user_accounts,:id,:account_name,params[:account_id]), { :include_blank => true } %>
      </div>
      <div class="field">
        <%= label_tag :category %>
        <%= select_tag :transaction_category_id, options_from_collection_for_select(@user_transaction_categories,:id,:name,params[:transaction_category_id]), { :include_blank => true } %>
      </div>
      <div class="field number">
        <%= label_tag :amount %>
        <%= number_field_tag :amount, params[:amount], step: 0.01 %>
      </div>
      <div class="field">
        <%= label_tag :description %>
        <%= text_field_tag :description, params[:description] %>
      </div>
      <div class="actions">
        <%= submit_tag "Search" %>
        <%= button_tag 'Clear Form', {:type => 'reset', id: "clear_filter"} %>
      </div>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Vendor name</th>
      <th>Account</th>
      <th>Transaction category</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Repeat start date</th>
      <th>Repeat description</th>
      <th>Ends</th>
      <th>Last occurrence added</th>
      <th>Next occurrence</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repeating_transactions.each do |repeating_transaction| %>
      <tr>
        <td><%= repeating_transaction.vendor_name %></td>
        <td><%= repeating_transaction.account.account_name if repeating_transaction.account.present? %></td>
        <td><%= repeating_transaction.transaction_category.name if repeating_transaction.transaction_category.present? %></td>
        <td><%= set_currency_styling(repeating_transaction.amount) %></td>
        <td><%= repeating_transaction.description %></td>
        <td><%= display_date(repeating_transaction.repeat_start_date) %></td>
        <td><%= repeat_description(repeating_transaction) %></td>
        <td><%= end_description(repeating_transaction) %></td>
        <td><%= display_date(repeating_transaction.last_occurrence_added) %></td>
        <td><%= display_date(repeating_transaction.next_occurrence) %></td>
        <td><%= link_to 'Edit', edit_repeating_transaction_path(repeating_transaction) %></td>
        <td><%= link_to 'Delete', repeating_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @repeating_transactions %>