<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @repeating_transaction.user_id %>
</p>

<p>
  <strong>Vendor name:</strong>
  <%= @repeating_transaction.vendor_name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @repeating_transaction.account_id %>
</p>

<p>
  <strong>Transaction category:</strong>
  <%= @repeating_transaction.transaction_category_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @repeating_transaction.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repeating_transaction.description %>
</p>

<p>
  <strong>Repeat start date:</strong>
  <%= @repeating_transaction.repeat_start_date %>
</p>

<p>
  <strong>Ends after num occurrences:</strong>
  <%= @repeating_transaction.ends_after_num_occurrences %>
</p>

<p>
  <strong>Ends after date:</strong>
  <%= @repeating_transaction.ends_after_date %>
</p>

<p>
  <strong>Repeat period:</strong>
  <%= @repeating_transaction.repeat_period %>
</p>

<p>
  <strong>Repeat every x periods:</strong>
  <%= @repeating_transaction.repeat_every_x_periods %>
</p>

<p>
  <strong>Repeat on x day of period:</strong>
  <%= @repeating_transaction.repeat_on_x_day_of_period %>
</p>

<%= link_to 'Edit', edit_repeating_transaction_path(@repeating_transaction) %> |
<%= link_to 'Back', repeating_transactions_path %>
