<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_account, "From Account" %>
    <%= f.collection_select :from_account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= f.label :to_account, "To Account" %>
    <%= f.collection_select :to_account_id, @user_accounts, :id, :account_name %>
    <%= link_to "Add / Edit", new_account_path %>
  </div>
  <div class="field">
    <%= f.label :transfer_date, "Date" %>
    <%= f.date_select :transfer_date %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary"%>
  </div>
<% end %>
