<p id="notice"><%= notice %></p>

<p>
  <strong>From Account:</strong>
  <%= @transfer.from_account.account_name %>
</p>

<p>
  <strong>To Account:</strong>
  <%= @transfer.to_account.account_name %>
</p>

<p>
  <strong>Transfer Date:</strong>
  <%= @transfer.transfer_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@transfer.amount) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transfer.description %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
