<h1>Your Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Vendor Name</th>
      <th>Account</th>
      <th>Transaction Category</th>
      <th>Amount</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.vendor_name %></td>
        <td><%= transaction.account.account_name if transaction.account.present? %></td>
        <td><%= transaction.transaction_category.name if transaction.transaction_category.present? %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
