<h1>Transactions</h1>

<%= link_to 'New Transaction', new_transaction_path %>
<br>
<br>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :start_date  %>
      <%= text_field_tag :start_date, params[:start_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag :end_date %>
      <%= text_field_tag :end_date, params[:end_date], {class: 'datepicker'} %>
    </div>
    <div class="field number">
      <%= label_tag :year %>
      <%= number_field_tag :year, params[:year], min:2000 %>
    </div>
    <div class="field number">
      <%= label_tag :month %>
      <%= number_field_tag :month, params[:month], min:1, max:12 %>
    </div>
    <div class="field number">
      <%= label_tag :day %>
      <%= number_field_tag :day, params[:day], min:1, max:31 %>
    </div>
    <div class="field">
      <%= label_tag :vendor_name %>
      <%= text_field_tag :vendor_name, params[:vendor_name] %>
    </div>
    <div class="field">
      <%= label_tag :account %>
      <%= select_tag :account_id, options_from_collection_for_select(@user_accounts,:id,:account_name,params[:account_id]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :category %>
      <%= select_tag :transaction_category_id, options_from_collection_for_select(@user_transaction_categories,:id,:name,params[:transaction_category_id]), { :include_blank => true } %>
    </div>
    <div class="field number">
      <%= label_tag :amount %>
      <%= number_field_tag :amount, params[:amount], step: 0.01 %>
    </div>
    <div class="field">
      <%= label_tag :description %>
      <%= text_field_tag :description, params[:description] %>
    </div>
    <div class="actions">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<% if @transactions.nil? or @transactions.each.count == 0 %>
  <div class="no_data">You haven't entered any transaction data, or no transactions match the filter above.</div>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Vendor Name</th>
        <th>Account</th>
        <th>Transaction Category</th>
        <th>Amount Spent</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.transaction_date.strftime('%m/%e/%Y') %></td>
          <td><%= transaction.vendor_name %></td>
          <td><%= transaction.account.account_name if transaction.account.present? %></td>
          <td><%= transaction.transaction_category.name if transaction.transaction_category.present? %></td>
          <td><%= number_to_currency(transaction.amount) %></td>
          <td><%= transaction.description %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure you want to delete this transaction?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @transactions %>
<% end %>

