<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.transaction_date.strftime('%m/%e/%Y') %>
</p>

<p>
  <strong>Vendor Name:</strong>
  <%= @transaction.vendor_name %>
</p>

<p>
  <strong>Account Name:</strong>
  <%= @transaction.account.account_name if @transaction.account.present? %>
</p>


<p>
  <strong>Transaction Category:</strong>
  <%= @transaction.transaction_category.name if @transaction.transaction_category.present?  %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@transaction.amount) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
